
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    /* background-color: var(--text-400); */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent-300);
    border-radius: 10px;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-900);
    color: var(--text-50);
}
header {
    padding: 10px 15%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    /* border: 1px black solid; */
}
#logoIcon {
    width: 35px;
}

.right-side, .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile .picture img {
    width: 45px;
    border-radius: 50%;
}
.profile .dropdown svg {
    width: 15px;
}

main {
    margin: 50px 15%;
    /* color: whitesmoke; */
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5px;
    max-height: 800px;
}
.chat-window {
    display: grid;
    grid-template-rows: auto 8%;
    gap: 5px;
}
.chats, .chat {
    background-color: var(--secondary-800);
    padding: 15px 20px;
    border-radius: 10px;
}
.chats .archive svg {
    width: 27px;
}
.chats .archive {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    /* justify-content: center; */
}
.chats .chat-search form {
    display: flex;
    justify-content: stretch;
}
#searchBar {
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    outline: none;
    margin-top: 25px;
    margin-bottom: 20px;
}
#searchBar:focus {
    outline: 3px var(--accent-600) solid;
}
.pfp img {
    border-radius: 50%;
}
.cards {
    overflow-y: auto;
    overflow-x: hidden;
    height: 40vh;
    scrollbar-color: var(--accent-200);
}
.card {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    background-color: var(--secondary-700);
}
.card .pfp img {
    width: 60px;
}

.card .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.card .info .last-msg {
    color: var(--text-300);
}
.card .content {
    display: block;
    overflow: hidden;
}

/* CHAT */
.upper-chat {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.upper-chat .pfp img {
    width: 55px;
}
.upper-chat .person, .tools {
    display: flex;
    align-items: center;
    gap: 20px;
}
.upper-chat .person .name {
    font-size: 27px;
}
.upper-chat .tools a {
    text-decoration: none;
    color: var(--text-100);
}
.upper-chat .tools svg {
    width: 30px;
}
#load-files {
    display: none;
}
#messageInput {
    outline: none;
    height: 30px;
    width: 100%;
    padding: 2px 10px;
}
#sendMessage svg {
    width: 30px;
    fill: currentColor;
    padding: 2px;
}
.input-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-600);
    border-radius: 10px;
}
.input-zone label {
    cursor: pointer;
    padding-right: 10px;
}
.messages {
    background-color: var(--primary-700);
    padding: 10px 15px;
    border-radius: 5px;
}