main {
    margin: 35px 15%;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5px;
    max-height: 750px;
}
.chat-window {
    display: grid;
    grid-template-rows: auto max-content;
    gap: 5px;
}
.chats, .chat {
    background-color: var(--secondary);
    padding: 15px 20px;
    border-radius: 10px;
}

/* ALL CHATS */
.chats .archive svg {
    width: 27px;
}
.chats .archive {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.chats .chat-search form {
    display: flex;
    justify-content: stretch;
}
#searchBar {
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    outline: none;
    margin-top: 25px;
    margin-bottom: 20px;
}
#searchBar:focus {
    outline: 3px var(--accent) solid;
}
.cards {
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    scrollbar-color: var(--secondary);
}
.card {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    background: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
}
.chat-pin {
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    right: 10px;
}
.card:hover {
    background-color: color-mix(in oklab, var(--secondary), black 10%);
}
.card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.card .content {
    overflow: hidden;
}

/* CHAT */
.upper-chat {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.upper-chat .pfp img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.upper-chat .person, .tools {
    display: flex;
    align-items: center;
    gap: 20px;
}
.upper-chat .person .name {
    font-size: 27px;
}
.upper-chat .tools a {
    text-decoration: none;
    color: var(--text);
}
.upper-chat .tools svg {
    width: 30px;
}
#load-files {
    display: none;
}
#messageInput {
    outline: none;
    height: 30px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    transition: .3s all ease-in;
}
#messageInput::placeholder {
    color: white;
    opacity: .6;
}
#sendMessage {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
#sendMessage svg {
    width: 30px;
    padding: 8px;
    border-radius: 7px;
    fill: white;
}
#sendMessage svg:hover,
.input-zone label:hover {
    background-color: rgba(255, 255, 255, .1);
}
.input-zone {
    display: flex;
    align-items: center;
    padding: 7px 7px;
    gap: 5px;
    background-color: color-mix(in oklab, var(--secondary), black 20%);
    border-radius: 10px;
}
.input-zone label {
    cursor: pointer;
    padding: 8px;
    border-radius: 7px;
    width: 35px;
}
.input-zone label svg {
    stroke: white;
    fill: none;
}
.messages {
    background-color: color-mix(in oklab, var(--secondary), black 15%);
    padding: 15px;
    border-radius: 3px;
    height: 585px;
    overflow-y: auto;
}
.messages .txt {
    display: grid;
    width: 100%;
}
.messages .message {
    width: max-content;
    padding: 5px 12px;
    margin-bottom: 10px;
    max-width: 400px;
}
.send {
    border-radius: 5px 5px 0 5px;
    background-color: var(--secondary);
    justify-self: flex-end;
}
.receive {
    border-radius: 5px 5px 5px 0;
    background-color: color-mix(in oklab, var(--secondary), black 35%);
}
