<div id="messages">

</div>

<form id="form">
    <input type="text" name="message" placeholder="Enter your message">
    <button type="submit">Send</button>
</form>

<script>
    var socket = new WebSocket('ws://127.0.0.1:8000/ws/url/');
    socket.onmessage = function (event) {
        let data = JSON.parse(event.data);
        console.log(data)
        if (data.type === 'error') {
            console.log(data.message)
        }
        if (data.type === 'chat') {
            let messages = document.getElementById('messages');
            let messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.textContent = data.message;
            messages.appendChild(messageElement);
            // Прокрутка вниз при добавлении нового сообщения
            messages.scrollTop = messages.scrollHeight;
        }
    }

    let form = document.getElementById('form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        let messageInput = event.target.querySelector('input[name="message"]');
        let message = messageInput.value;
        socket.send(JSON.stringify({'message': message}));
        // Очистка поля ввода после отправки сообщения
        messageInput.value = '';
    });

    // Добавляем обработчик клика на элемент списка чатов
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('chat-item')) {
            let chatId = event.target.getAttribute('data-chat-id');
            // Очищаем список сообщений
            document.getElementById('messages').innerHTML = '';
            // Запрашиваем сообщения выбранного чата
            socket.send(JSON.stringify({'get_messages': chatId}));
        }
    });
</script>