{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="app">Jopa</h1>
<form id="form">
    <input type="text" name="message">
    <button type="submit">Send</button>
</form>
<div id="chats">
    {% for chat in chats %}
    <a href="{% url 'chat' chat.id %}" class="chat-link" data-chat-id="{{ chat.id }}">{{ chat.name }}</a> - <span>{{ chat|get_unread_messages:user }}</span>
    {% endfor %}
</div>
<div id="messages">
</div>

<script>
    {% if user.is_authenticated %}
    let chats = document.querySelectorAll('.chat-link')
    chats.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault()
            let chat_id = this.getAttribute('data-chat-id')
            let chat_socket = new WebSocket('ws://localhost:8000/ws/chat/' + chat_id + '/');
            chat_socket.onmessage = function (event) {
                let data = JSON.parse(event.data);
                console.log(data)
                if(data.type === 'error'){
                    console.log(data.message)
                }
                if(data.type === 'new_message'){
                    let messages = document.getElementById('messages')
                    console.log(data)
                    messages.insertAdjacentHTML('beforeend', `<div>
                            <p>${data.sender} - ${data.message}</p>
                        </div>`)
                }
            }

            function formatDate(dateString) {
                let options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
                return new Date(dateString).toLocaleDateString('en-GB', options).replace(",", "");
            }

            fetch('{% url "chat" chat_id=0%}'.replace('0', chat_id))
                .then(response => response.json())
                .then(data => {
                data.messages.forEach(message => {
                    let messages = document.getElementById('messages')
                    if(message.content){
                        messages.insertAdjacentHTML('beforeend', `<div>
                                <p>${message.sender} - ${message.content}</p><span>${formatDate(message.date_sent)}</span>
                            </div>`)
                    }
                    if(message.image){
                        messages.insertAdjacentHTML('beforeend', `<div>
                                <img src = "${message.image}">
                                <p>${message.sender}</p><span>${formatDate(message.date_sent)}</span>
                            </div>`)
                    }
                    if(message.file){
                        messages.insertAdjacentHTML('beforeend', `<div>
                                <p>${message.sender} - ${message.content}</p><span>${formatDate(message.date_sent)}</span>
                            </div>`)
                    }
                    if(message.video){
                        messages.insertAdjacentHTML('beforeend', `<div>
                                <p>${message.sender} - ${message.content}</p><span>${formatDate(message.date_sent)}</span>
                            </div>`)
                    }
                    if(message.audio){
                        messages.insertAdjacentHTML('beforeend', `<div>
                                <p>${message.sender} - ${message.content}</p><span>${formatDate(message.date_sent)}</span>
                            </div>`)
                    }
                    if(message.sticker){
                        messages.insertAdjacentHTML('beforeend', `<div>
                                <p>${message.sender} - ${message.content}</p><span>${formatDate(message.date_sent)}</span>
                            </div>`)
                    }


                })
                let title = document.getElementById('app')
                title.innerHTML = data.chat.name
            })


            let form = document.getElementById('form')
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                let message = event.target.message.value
                let user = {{ user.id }}
                chat_socket.send(JSON.stringify({
                    'message': message,
                    'user': user
                }))
                form.reset()
            })

        })
    })
    {% else %}
    let title = document.getElementById('app')
    title.innerHTML = 'You are not logged in'
    {% endif %}
</script>

</body>
</html>