{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat/test.css' %}">
    <script defer src="{% static 'js/header.js' %}"></script>
    <script defer src="{% static 'js/chat/test.js' %}"></script>
    <title>Messenger</title>
</head>

<body>
<header>
    <div class="logo">
        <svg viewBox="0 0 101 100" xmlns="http://www.w3.org/2000/svg" id="logoIcon">
            <path
                d="M0.5 20C0.5 8.9543 9.45431 0 20.5 0H80.5C91.5457 0 100.5 8.95431 100.5 20V80C100.5 91.0457 91.5457 100 80.5 100H20.5C9.4543 100 0.5 91.0457 0.5 80V20Z"/>
            <path
                d="M80.8445 14.9823C79.8827 16.8101 78.5362 20.081 77.7668 22.1013C74.112 31.6253 68.3412 44.1316 60.4545 54.1367C51.2213 65.8734 38.718 78.5722 20.5402 88L14 82.0354C31.8893 73.4734 44.2003 62.0253 54.1067 49.4228C61.9934 39.2253 66.8024 28.5468 70.0725 19.119C70.7457 17.1949 71.6113 14.0203 72.0922 12L80.8445 14.9823ZM30.0619 26.3342C39.5837 32.3949 52.9526 42.0152 60.2622 47.8835C69.8801 55.7722 79.4018 64.1418 87 72.4152L80.9407 79.0532C72.9578 69.8177 64.5902 62.2177 54.9723 54.1367C48.0474 48.3646 35.5441 38.8405 24.9644 32.3949L30.0619 26.3342Z"
                fill="#E6E7E8" />
            <path d="M18.5 41L14.5 46C21.5 50.5 27.5 56 27.5 56L32 51.5C26.5 46.5 22.3333 43.1667 18.5 41Z"
                fill="#E6E7E8" stroke="#E6E7E8" />
        </svg>
        <!-- <img src="{% static 'svg/logo.svg' %}" alt="site logo" id="logoIcon"> -->
        <h4>Wger</h4>
    </div>
    <div class="right-side">
        <svg id="switcher" width="22" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 1.5C6.201 1.5 1.5 6.201 1.5 12S6.201 22.5 12 22.5 22.5 17.799 22.5 12 17.799 1.5 12 1.5ZM6.034 17.966A8.437 8.437 0 0 1 12 3.562v16.875a8.383 8.383 0 0 1-5.966-2.47Z"></path>
        </svg>
        <div class="profile">
            <div class="picture">
                <img src="{% static 'images/pfp.png' %}" alt="">
            </div>
            <!-- change phone_num(?), view profile, logout -->
            <div class="dropdown">
                <svg class="dropbtn" onclick="dropdownFunction()" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="m5.25 8.625 6.75 6.75 6.75-6.75"></path>
                </svg>
                <div id="profileDropdown" class="dropdown-content">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="chats">
            <div class="title">
                <h3>Chats</h3>
            </div>
            <!-- looking for user's name or something in chat(like in whatsapp) -->
            <div class="chat-search">
                <form action="#">
                    <input type="text" placeholder="Search" id="searchBar">
                </form>
            </div>
            <!-- just the archive(maybe some js)-->
            <div class="archive">
                <svg fill="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M3 7.688v11.437a2.625 2.625 0 0 0 2.625 2.625h12.75A2.625 2.625 0 0 0 21 19.125V7.687a.188.188 0 0 0-.188-.187H3.188A.187.187 0 0 0 3 7.688Zm12.516 7.107L12.53 17.78a.75.75 0 0 1-1.06 0l-2.986-2.985a.764.764 0 0 1-.04-1.049.75.75 0 0 1 1.086-.026l1.72 1.72v-4.92c0-.404.31-.75.714-.77a.75.75 0 0 1 .786.749v4.94l1.72-1.72a.75.75 0 0 1 1.085.026.764.764 0 0 1-.04 1.05Z">
                    </path>
                    <path
                            d="M21 2.25H3a1.5 1.5 0 0 0-1.5 1.5v.75A1.5 1.5 0 0 0 3 6h18a1.5 1.5 0 0 0 1.5-1.5v-.75a1.5 1.5 0 0 0-1.5-1.5Z">
                    </path>
                </svg>
                <h5>Archive</h5>
            </div>
            <!-- all dms & groups -->
            <div class="cards">
                <a class="card" href="#">
                    <img src="{% static 'images/pfp.png' %}" alt="">
                    <div class="content">
                        <div class="top">
                            <div class="name">
                                <p>Alex</p>
                            </div>
                            <!-- today(9:30AM), yesterday, 20.04.2024 -->
                            <div class="last-msg-date">
                                <small>25.05.2024</small>
                            </div>
                        </div>
                        <div class="info">
                            <div class="last-msg">
                                <p>qwertyqwertyqdawdwadadwadwadaw</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="chat-pin">
                        <svg id="archive-chat" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 7.688v11.437a2.625 2.625 0 0 0 2.625 2.625h12.75A2.625 2.625 0 0 0 21 19.125V7.687a.188.188 0 0 0-.188-.187H3.188A.187.187 0 0 0 3 7.688Zm12.516 7.107L12.53 17.78a.75.75 0 0 1-1.06 0l-2.986-2.985a.764.764 0 0 1-.04-1.049.75.75 0 0 1 1.086-.026l1.72 1.72v-4.92c0-.404.31-.75.714-.77a.75.75 0 0 1 .786.749v4.94l1.72-1.72a.75.75 0 0 1 1.085.026.764.764 0 0 1-.04 1.05Z"></path>
                            <path d="M21 2.25H3a1.5 1.5 0 0 0-1.5 1.5v.75A1.5 1.5 0 0 0 3 6h18a1.5 1.5 0 0 0 1.5-1.5v-.75a1.5 1.5 0 0 0-1.5-1.5Z"></path>
                        </svg>
                        <svg id="pin-chat" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.13 8.998v6.743a1.878 1.878 0 0 0 3.757 0l.006-8.838a3.186 3.186 0 1 0-6.37 0v8.898a4.477 4.477 0 1 0 8.954 0V7.486"></path>
                        </svg>
                        <svg id="delete-chat" fill="darkred" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.25 4.5h-4.5V3.375A1.875 1.875 0 0 0 13.875 1.5h-3.75A1.875 1.875 0 0 0 8.25 3.375V4.5h-4.5a.75.75 0 0 0 0 1.5h.797l.89 14.293c.067 1.259 1.032 2.207 2.25 2.207h8.625c1.225 0 2.17-.927 2.25-2.203L19.453 6h.797a.75.75 0 1 0 0-1.5Zm-11.223 15H9a.75.75 0 0 1-.75-.723l-.375-10.5a.75.75 0 0 1 1.5-.054l.375 10.5a.75.75 0 0 1-.723.777Zm3.723-.75a.75.75 0 1 1-1.5 0V8.25a.75.75 0 1 1 1.5 0v10.5Zm1.5-14.25h-4.5V3.375A.37.37 0 0 1 10.125 3h3.75a.371.371 0 0 1 .375.375V4.5Zm1.5 14.277a.75.75 0 0 1-.75.723h-.027a.75.75 0 0 1-.723-.777l.375-10.5a.75.75 0 0 1 1.5.054l-.375 10.5Z"></path>
                        </svg>
                    </div> -->
                </a>
                <a class="card" href="#">
                    <img src="{% static 'images/pfp.png' %}" alt="">
                    <div class="content">
                        <div class="top">
                            <div class="name">
                                <p>Mark</p>
                            </div>
                            <!-- today(9:30AM), yesterday, 20.04.2024 -->
                            <div class="last-msg-date">
                                <small>20.05.2024</small>
                            </div>
                        </div>
                        <div class="info">
                            <div class="last-msg">
                                <p>yes</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- just for dividing chat and input-zone -->
        <div class="chat-window">
            <div class="chat">
                <div class="upper-chat">
                    <div class="person">
                        <div class="pfp">
                            <img src="{% static 'images/pfp.png' %}" alt="">
                        </div>
                        <div class="name">
                            <p>Alex</p>
                        </div>
                    </div>
                    <!-- call user and stuff like unfriend, view profile, etc. -->
                    <div class="tools">
                        <svg id="callUser" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.327 22.5c-.915 0-2.2-.331-4.125-1.407-2.34-1.312-4.15-2.524-6.478-4.846-2.245-2.243-3.337-3.695-4.865-6.476C1.132 6.63 1.426 4.984 1.755 4.28c.392-.842.97-1.345 1.718-1.844a8.263 8.263 0 0 1 1.343-.712l.13-.057c.231-.105.583-.263 1.028-.094.297.112.562.34.978.75.852.84 2.015 2.71 2.445 3.63.288.619.479 1.028.48 1.486 0 .537-.27.95-.598 1.397l-.182.242c-.356.469-.435.604-.383.846.104.486.884 1.933 2.165 3.212 1.281 1.278 2.686 2.008 3.174 2.112.253.054.39-.027.875-.397.069-.053.14-.107.215-.162.5-.372.894-.635 1.418-.635h.003c.456 0 .847.198 1.493.524.844.426 2.771 1.575 3.616 2.427.412.415.64.679.753.976.169.447.01.797-.094 1.031l-.057.129a8.27 8.27 0 0 1-.716 1.34c-.499.745-1.004 1.322-1.846 1.714a3.16 3.16 0 0 1-1.386.304Z"></path>
                        </svg>
                        <svg id="infoUser" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 14.25a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z"></path>
                            <path d="M12 21.75a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z"></path>
                            <path d="M12 6.75a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z"></path>
                        </svg>
                    </div>
                </div>
                <div class="messages">
                    <!-- from u -->
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <!-- not in group & not from u -->
                    <div class="txt">
                        <div class="message receive">
                            <p>sum text</p>
                        </div>
                    </div>
                    <!-- in group -->
                    <div class="txt">
                        <div class="message receive">
                            <small>Name</small>
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message send">
                            <p>sum text</p>
                        </div>
                    </div>
                    <div class="txt">
                        <div class="message receive">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, iusto, perferendis laudantium nemo vitae nesciunt illum qui temporibus, inventore dicta fuga. Eius sapiente maxime perferendis a pariatur, maiores debitis voluptatum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- load file & send message through btn -->
            <div class="input-zone">
                <label for="load-files" title="Load file">
                    <svg stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.75 8.25h1.875a1.875 1.875 0 0 1 1.875 1.875v9.75a1.875 1.875 0 0 1-1.875 1.875H6.375A1.875 1.875 0 0 1 4.5 19.875v-9.75A1.875 1.875 0 0 1 6.375 8.25H8.25"></path>
                        <path d="M8.25 12.75 12 16.5l3.75-3.75"></path>
                        <path d="M12 2.25v13.5"></path>
                    </svg>
                </label>
                <input type="file" value="" id="load-files">
                <input type="text" id="messageInput" placeholder="Type message">
                <button id="sendMessage">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="m22.34 10.642-.007-.003-20.02-8.303a1.104 1.104 0 0 0-1.04.1 1.156 1.156 0 0 0-.523.966v5.31a1.125 1.125 0 0 0 .915 1.105l10.919 2.02a.187.187 0 0 1 0 .368L1.665 14.224a1.125 1.125 0 0 0-.915 1.104v5.31a1.105 1.105 0 0 0 .496.924 1.123 1.123 0 0 0 1.066.097l20.02-8.256.008-.004a1.5 1.5 0 0 0 0-2.757Z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>
</body>
</html>